@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,700i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #fbfbfb;
}

.Header {
    width: 100%;
    height: 116px;
    padding: 0 4%;
    background: #ffffff;
    border-bottom: 1px solid #828282;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.Header__left img,
.Header__left div,
.Header__right .Select-container,
.Header__right button {
    float: left;
}

.Header__left img {
    height: 90%;
    margin: 5px 24px 0 0;
}

.Header__left__text h1 {
    color: #1f1f1f;
    font-size: 1.4em;
    margin: 26px 0 6px 0;
}

.Header__left__text h2 {
    font-weight: 300;
    color: #686868;
    font-size: 1em;
}

.Header__left__text h2 a,
.Header__left__text h2 a:visited {
    text-decoration: none;
    color: #3182dd;
}

.Header__left__text h2 a:hover {
    text-decoration: underline;
}

.Header__right {
    padding-top: 35px;
}

.Select-container {
    width: 330px;
}

.Select {
    font-size: 0.85em;
    font-weight: 300;
    z-index: 10;
}

button.change-btn {
    width: 90px;
    height: 38px;
    background: #367fd8;
    border:none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 0.92em;
    position: relative;
    right: 6px;
    z-index: 1;
    cursor: pointer;
    transition: background .25s ease-in-out;
}

button.change-btn span {
    position: relative;
    left: 2px;
}

button.change-btn:hover {
    background: #1964bf;
}

@media screen and (max-width: 1366px) {
    .Header {
        padding: 0 2%;
    }

    .Header__left__text h1 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1200px) {
    .Header__left__text {
        width: 350px;
    }

    .Header__left__text h1 {
        margin-top: 18px;
    }
}

/* D3 FORCE-DIRECTED GRAPH STYLES */

.Graph .node circle {
    stroke-width: 0.15;
}

.Graph .link {
    stroke: #c8c8c8;
    stroke-width: 1px;
}

.Graph text, .Graph p {
    cursor: default;
    font-size: 4px;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
}

.Graph .node-text-container {
    width: 8px;
    height: 10px;
}

.Graph .node-text-container p {
    font-size: 1.2px;
    text-align: center;
    color: #181818;
}

.Graph .node text {
    fill: rgba(255, 255, 255, 0.7);
}

.Graph .utilitylabel span {
    font-size: 1.9px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 2px;
    cursor: default;
}