@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.node circle {
    stroke-width: 0.15;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
}

text, p {
    cursor: default;
    font-size: 4px;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
}

.node-text-container {
    width: 8px;
    height: 8px;
}

.node-text-container p {
    font-size: 1.2px;
    text-align: center;
    color: #181818;
}

.node text {
    fill: rgba(255, 255, 255, 0.7);
}

.utilitylabel span {
    font-size: 1.9px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 2px;
}